<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&subset=cyrillic&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <title>Blog</title>
    </head>
<body>
    
    <!--menu-->
    <%- include("./partials/nav")%>

    <!--notification-->
    <%- include("./partials/notification")%>

    <!--blog page header-->
    <header class="blog-page-header">
        <div class="blog-page-header-img">
            <div class="blog-page-header-path">
                <p class="grey-font">Головна <i class="fa-solid fa-chevron-right"></i></p>
                <p>Блог</p>
            </div>
            <h1 class="blog-page-header-title">Наш Блог</h1>
            <p class="blog-page-header-slogan">Ідеї для дому та дизайнерські натхнення</p>
        </div>
    </header>

    <!--blogs grid-->
    <section class="blogs-grid">
        <div class="blogs-grid-tools">
            <div class="blogs-grid-tools-pc">
                <div>
                    <button class="line">Всі блоги</button>
                    <button class="grey-font">Відібрані</button>
                </div>
            </div>
            <div class="blogs-grid-tools-mobile">
                <div class="blogs-grid-tools-mobile-dropdown">
                    <p>Всі блоги</p>
                    <p class="grey-font"><i class="fa-solid fa-chevron-down"></i></p>
                </div>
            </div>
        </div>
        <div class="blogs">
            <% if(blogs.length > 0){%>
                <% blogs.forEach(blog => { %>   
                <article class="blog-element">
                    <img src="<%= blog.img %>" alt="кімната" class="blog-element-img">
                    <p class="blog-element-title"><%= blog.title %></p>
                    <p class="blog-element-publish-date grey-font"><%= blog.date %></p>
                </article>                
                <%});%>
            <%} else{%> <p>Блогів не знайдено</p><%} %>
        </div>
    </section>

    <!--newsletter signup-->
    <%- include("./partials/newsletterSignUp")%>

    <!--footer-->
    <%- include("./partials/footer")%>


    <!--scripts-->
    <script src="../scripts/main.js"></script>

</body>
</html>