<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&subset=cyrillic&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>3lefant</title>
</head>
<body>

    <!--menu-->
    <%- include('./partials/nav') %>

    <!--notification-->
    <%- include('./partials/notification') %>

    <!--slider section-->
    <section class="slider-section">
        <div class="slider" id="slider-img-placeholder">
        </div>
        <div class="slider-nav-dots">
            <div id="slider-nav-dot-1"></div><div id="slider-nav-dot-2"></div><div id="slider-nav-dot-3"></div>
        </div>
        <div class="header">
            <h1 class="quote poppins">
                <span>Simply Unique</span><span class="grey-font">/</span><br>
                <span>Simply Better</span><span class="grey-font">.</span>
            </h1>
            <p class="short-info">3lefant <span class="grey-font">- це магазин декорацій та подарунків з України.</span></p>
        </div>
        <div class="slider-nav-btns">
            <button id="left-slider-nav-btn"><i class="fa-solid fa-arrow-left"></i></button>
            <button id="right-slider-nav-btn"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
    
    <!--banner section-->
    <section class="banner-grid">
        <div class="livingroom-banner">
            <div class="livingroom-banner-content">
                <div class="banner-text cyrrilic">
                    <p>Вітальня</p>
                </div>
                <div class="banner-button line">
                    <a href="/shop">Купити зараз <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="small-banners">
            <div class="bedroom-banner">
                <div class="bedroom-banner-content">
                    <div class="banner-text cyrrilic">
                        <p>Спальня</p>
                    </div>
                    <div class="banner-button line">
                        <a href="/shop">Купити зараз <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="kitchen-banner">
                <div class="kitchen-banner-content">
                    <div class="banner-text cyrrilic">
                        <p>Кухня</p>
                    </div>
                    <div class="banner-button line">
                        <a href="/shop">Купити зараз <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--carousel section-->
    <section class="carousel-section">
        <div class="carousel-section-title">
            <div class="cyrriliс quote">
                <p>Нові</p>
                <p>Товари</p>
            </div>
            <a class="carousel-button-pc line" href="/shop">Більше товарів <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <%
        const shuffledProducts = [...products];
        for (let i = shuffledProducts.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [shuffledProducts[i], shuffledProducts[j]] = [shuffledProducts[j], shuffledProducts[i]];
        }
        const randomProducts = shuffledProducts.slice(0, 5);
        %>
        <div class="carousel-section-product-card"> 
            <%randomProducts.forEach(product => {%> 
            <a class="element" href="/product/<%=product._id%>">
                <div class="element-card" style="background-image: url('<%= product.img %>');">
                    <div class="element-card-budges">
                        <% if(product.new != false){%>
                        <p class="element-card-budges-new">НОВЕ</p>
                        <%}%>
                        <% if(product.discount >= 0.05){%>
                        <p class="element-card-budges-sale"><%= (product.discount * 100) + "%" %></p>
                        <%}%>
                    </div>
                    <div class="element-card-favourite">
                        <div class="unliked">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class=" liked hide">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class="element-card-button-hover">
                        <p>Додати до кошика</p>
                    </div>
                </div>
                <div class="element-content">
                    <p class="element-content-stars"><%= product.rate %></p>
                    <p class="element-content-name"><%= product.name %></p>
                    <p class="element-content-prices">
                        <% if(product.discount >= 0.05){%>
                        <span class="element-content-new-price">
                            <%= (product.price - product.price * product.discount) + "₴" %>
                        </span>
                        <span class="element-content-old-price grey-font">
                            <%= product.price + "₴" %>
                        </span>
                        <%}else{%>
                        <span class="element-content-new-price">
                            <%= product.price + "₴" %>
                        </span>
                        <%}%>
                    </p>
                </div>
            </a>
            <%})%>
        </div>
        <div class="carousel-section-button">
            <a class="carousel-button line">Більше товарів <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </section>

    <!--info blocks-->
    <div class="info-blocks">
        <div class="info-blocks-rows">
            <div class="info-block">
                <i class="fa-solid fa-truck info-blocks-icon"></i>
                <p class="biger-font">Безкоштовна доставка</p>
                <p class="grey-font smaller-font">Якщо замовлення<br>більше 200₴</p>
            </div>
            <div class="info-block">
                <i class="fa-solid fa-money-bill info-blocks-icon"></i>
                <p class="biger-font">Повернення коштів</p>
                <p class="grey-font smaller-font">30 днів<br>гарантії</p>
            </div>
        </div>
        <div class="info-blocks-rows">
            <div class="info-block">
                <i class="fa-solid fa-lock info-blocks-icon"></i>
                <p class="biger-font">Сплачення безпеки</p>
                <p class="grey-font smaller-font">Безпечне<br>упакування</p>
            </div>
            <div class="info-block">
                <i class="fa-solid fa-phone info-blocks-icon"></i>
                <p class="biger-font">Підтримка 24/7</p>
                <p class="grey-font smaller-font">Телефонна та<br>поштова підтримка</p>
            </div>
        </div>
    </div>

    <!--banner section-->
    <section class="banner-section">
        <div class="banner-img-placeholder">
        </div>
        <div class="banner-content">
            <p class="banner-content-sale">ЗНИЖКИ ДО -35%</p>
            <p class="quote">Сотні<br>Низьких цін</p>
            <p>Зробити стильний вигляд кожній кімнаті у вашому будинку дешево як ніколи</p>
            <br><br>
            <a class="banner-button line" href="/shop.">Купити зараз <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </section>

    <!--articles-->
    <article class="articles">
        <div class="articles-title">
            <p class="quote">Статті</p>
            <a class="banner-button line" href="/blog.">Читати більше <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <%
        const shuffledBlogs = [...blogs];
        for (let i = shuffledBlogs.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [shuffledBlogs[i], shuffledBlogs[j]] = [shuffledBlogs[j], shuffledBlogs[i]];
        }
        const randomBlogs = shuffledBlogs.slice(0, 3);
        %>
        <div class="articles-elements">
            <% randomBlogs.forEach(blog => {%>
            <div class="articles-element">
                <img class="articles-element-img-placeholder" src="<%= blog.img%>" alt="<%= blog.title %>">
                <p class="articles-element-title"><%= blog.title %></p>
                <span><a class="banner-button line" href="/blog">Читати більше <i class="fa-solid fa-arrow-right"></i></a></span>
            </div>
            <%}); %>
        </div>
    </article>

    <!--newsletter signup-->
    <%- include('./partials/newsletterSignUp') %>

    <!--footer-->
    <%- include('./partials/footer') %>

    <!--scripts-->
    <script src="../scripts/main.js"></script>
    <script src="../scripts/slider.js"></script>
    <script src="../scripts/like.js"></script>
</body>
</html>